a {
  text-decoration: none;
}

html {
  background: #fff;
  font-family: 'Nunito Sans';
}

.main-menu {
  padding-top: 5%;
  padding-left: 8%;
}

.first-col {
  padding-left: 100px;
}

.title {
  font-family: 'Merriweather';
  color: #3d3d4d;
  font-size: 60px;
  /*padding-left: 4%;*/
}

.menu-list {
  padding-top: 1em;
  /*padding-left: 100px;*/
}

.flower-menu, .place-menu {
  font-family: 'Nunito Sans';
  fill: #413928;
}

.footer {
  margin-bottom: 160px;
}