@font-face {
    font-family: "Chap Light";
    src: url('/maps/chap-light.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

html {
  background: #feffef;
  font-family: 'Chap Light';
}

.din-title {
  color: #413928;
  font-size: 40px;
  padding-top: 1%;
  padding-left: 6%;
  padding-bottom: 1%;
}

.group_widgets {
  width: 100%;
}

.grid-container {
  padding-left: 6%;
}

.grid {
  fill: #413928;
}

