@font-face {
    font-family: "Chap Light";
    src: url('/maps/chap-light.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

html {
  /*background: #feffef;*/
  background: #fff;
  font-family: 'Chap Light';
}

.theorem {
  padding-left: 100px;
  height: 670px !important;
  width: 500px !important;
  /*width: 50% !important;*/
}

.mjx-chtml {
  /*text-align: left !important;*/
}

.din-title {
  color: #413928;
  font-size: 40px;
  padding-top: 1%;
  padding-left: 6%;
  padding-bottom: 1%;
}

.group_widgets {
  width: 100%;
}

.grid-container {
  padding-left: 6%;
}

.grid {
  fill: #413928;
}

