
.explorable_display {
	border:1px solid black;
	background:rgb(230,230,230);
	display: block;
	margin: auto;
	margin-bottom: 10px;
}

.explorable_widgets {
	display: block;
	display: block;
	margin: auto;
}

.menu-text {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: left;
  width: 100%;
}