
.explorable_display {
	border:1px solid black;
	background:rgb(230,230,230);
	display: block;
	margin: auto;
	margin-bottom: 10px;
}

.explorable_widgets {
	display: block;
	display: block;
	margin: auto;
}
