.dior {
  height: 450px;
  padding-left: 0.5%;
}

.dior-description {
  padding-left: 6em;
  padding-top: 20px;
}

.dior-container {
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 6em;
}


.diablo-canyon {
  height: 450px;
  padding-left: 0.5%;
  width: 30%;
}

.mushrooms {
  height: 530px;
  padding-left: 1%;
}

.main-menu {
  padding-left: 5em;
  padding-top: 5em;
}

.menu-text {
  padding-top: 2em;
}

.container {
  padding-top: 3em;
  padding-left: 6em;
}

.back-button {
  padding-top: 1%;
}

.description {
  padding-left: 6em;
  padding-top: 20px;
  padding-bottom: 4em;
}

.title {
  font-family: 'Nunito Sans';
  font-weight: bold;
  font-size: 50px;
}

.content {
  font-family: 'merriweather';
  font-size: 18px;
  width: 30em;
}