html {
  font-family: 'Nunito Sans';
  /*font-family: 'Merriweather';*/
  /*font-family: arial;*/
  fill: '#333';
  stroke: '#000';
  width: 200px;
  padding-left: 5%;
  padding-top: 3%;
}

.header-rect {
  width: 38.3em;
  height: 10em;
  fill: none;
  /*stroke: #888;*/
  /*stroke-width: 2px;*/
}

.header-text {

}

.experience {

}