a {
  text-decoration: none;
}

html {
  background: #fff;
  font-family: 'Nunito Sans';
}

.main-menu {
  padding-top: 10%;
  padding-left: 8%;
}

.title {
  font-family: 'Merriweather';
  color: #413928;
  padding-top: 15px;
  font-size: 50px;
  padding-left: 70px;
}

.menu-list {
  padding-top: 10px;
  padding-left: 130px;
}

.flower-menu, .place-menu {
  font-family: 'Nunito Sans';
  fill: #413928;
}

.footer {
  margin-bottom: 10px;
}

.container {
  padding-left: 9%;
  width: 450px;
}
