a {
  text-decoration: none;
}

html {
  background: #eee;
  font-family: 'Nunito Sans';
}

.title {
  padding-top: 20px;
  font-size: 50px;
  padding-left: 70px;
}

.menu-list {
  padding-top: 30px;
  padding-left: 100px;
}
