a {
  text-decoration: none;
}

html {
  background: #fff;
  font-family: 'Nunito Sans';
  padding-left: 6%;
}

@font-face {
    font-family: "Chap Light";
    src: url(/fonts/chap-light.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DIN Light";
    src: url('/fonts/DIN_light.woff') format("woff"),
    font-weight: normal;
    font-style: normal;
}

.sfi-title {
  font-family: 'Chap Light';
  color: #413928;
  font-size: 30px;
  padding-top: 1%;
}

.title {
  font-family: 'DIN Light'
  color: #413928;
  font-size: 40px;
  padding-bottom: 30px;
}

.trace {
  z-index: 1;
  fill: none;
  stroke: none;
}

.parking-lots {
  fill: grey;
}

.roads {
  fill: none;
  stroke: grey;
  stroke-width: 1.9px;

}

.contours {
  fill: none;
  stroke: #c4c4a1;
  stroke-width: 1px;
}

.trails {
  fill: none;
  stroke: brown;
  stroke-width: 1.5px;
}

.key-rect {
  stroke: grey;
  stroke-width: 3px;
  fill: white;
}

.key-title {
  font-size: 30px;
  fill: black;
}

.compass {
  fill: black;
  stroke: black;
}

.footer {
  margin-bottom: 1%;
}
