a {
  text-decoration: none;
}

html {
  background: #fefffc;
  font-family: 'Nunito Sans';
}

.title {
  font-family: 'Merriweather';
  color: #413928;
  font-size: 50px;
  padding-top: 20px;
  padding-left: 70px;
  padding-bottom: 30px;
}

/* topo */
.bottom-img { 
  top: 10;
  opacity: 1;
  padding-left: 93px;
  padding-top: 6px;
  border-radius: 0px;
  border: none;
}

.top-img {
  position: absolute;
  opacity: 0.6;
  left: 0;
  top: 10;
  padding-left: 120px;
  border: none;
}

.trace {
  z-index: 1;
  position: absolute;
  padding-left: 100px;
  top: 10;
  left: 0;
  fill: none;
  stroke: none;
}

.roads {
  fill: none;
  stroke: black;
  stroke-width: 1.9px;
}

.contours {
  fill: none;
  stroke: #c4c4a1;
  stroke-width: 1px;
}

.trails {
  fill: none;
  stroke: brown;
  stroke-width: 1.5px;
}

.footer {
  margin-bottom: 160px;
}
