.title-table {
  margin-left: 5%
}

.explorable-title {
  font-size: 30px;
  font-family: 'Helvetica';
}

.page-frame {
  padding-top: 2%;
  padding-left: 5%;
}

.description {
  font-size: 25px;
  width: 100%;
  padding-left: 10%
}

.back-button {
  padding-top: 3%;
}

a {
  text-decoration: none;
}

html {
  background: #fee;
}

.links line {
  stroke: #999;
  stroke-width: 0.9px;
}

.nodes circle {
  stroke: #aaa;
  stroke-width: 0.5px;
}
