.title-table {
  margin-left: 5%;
}

.footer-table {
  margin-top: 5%;
  margin-left: 10%;
}

.unit-table {
  margin-left: 5%;
}

.join-table {
  margin-left: 5%;
}

.explorable-title {
  font-size: 30px;
  font-family: 'Helvetica';
}

.page-frame {
  padding-top: 2%;
  padding-left: 5%;
}

.description {
  font-size: 25px;
  width: 100%;
  padding-left: 10%
}

.back-button {
  padding-top: 3%;
  border: none;
  background-color: #fee;
}

.forward-button {
  border: none;
  background-color: #fee;
}
.button-text {
  font-size: 24px;
}

a {
  text-decoration: none;
}

html {
  background: #fee;
}

.links line {
  stroke: #999;
  stroke-width: 0.9px;
}

.nodes circle {
  stroke: #aaa;
  stroke-width: 0.5px;
}

.footer {
  margin-bottom: 10%
}